.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  line-height: 75px;
  z-index: 99;
  transition: all ease 0.5s;
}

.display-small {
  display: none;
}

.navbar.small {
  line-height: 30px;
  background-color: #ee2434;
  box-shadow: rgba(0,0,0,0.2) 0 0 20px;
  transition: all ease 0.5s;
}

.navbar.small .display-small {
  display: inline-block;
}

.navbar.small .display-large {
  display: none;
}

.navbar.small .navbar-brand {
  color: white;
  font-size: 25px;
  line-height: 50px;
}

.navbar.small .nav-link {
  color: rgba(255,255,255,0.5);
}

.navbar.small .nav-link:hover {
  color: white;
}

.navbar.small .nav-item.active .nav-link {
  color: white;
}

.top-padding-fix {
  height: 75px;
}

.navbar-brand {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  line-height: 75px;
  font-size: 30px;
  vertical-align: middle;
}

.v-mid {
  vertical-align: middle;
}

.navbar-brand img {
  margin-right: 10px;
  vertical-align: middle;
}

.navbar-brand-sub {
  font-weight: 400;
}

.nav-link {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  padding-top: 40px;
}

p {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  padding-top: 20px;
  font-size: 27px;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  padding-top: 15px;
  font-size: 20px;
}

#sticked-navigation {
  font-family: 'Lato';
}

#sticked-navigation ol {
  margin-left: 0;
  padding-left: 0;
  padding-top: 20px;
}

#sticked-navigation ol li {
  list-style: none;
}

#sticked-navigation ol li.active {
  font-weight: bold;
  border-left: rgba(0,0,0,0.2) 3px solid;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#sticked-navigation ol li a {
  color: black;
}

.scroll-nav__heading {
  font-weight: bold;
}

.doc-container {
  padding-bottom: 50px;
}

@media(max-width: 1000px){
  #sticked-navigation {
    display: none;
  }

  .navbar-brand {
    font-size: 16px;
  }

  .navbar.small .navbar-brand {
    font-size: 16px;
  }
}

.ce-red {
  color: #EE2434;
}

.post-link:hover {
  color: #F3777E;
  text-decoration: none;
}